body{
  background-color:white;
}

html{
  scroll-behavior: smooth;
}


.headercontainer{
  position:absolute; top: -30px; left:-10px;
  opacity: 1;
  padding: 5px;
  height: 170px;
  width: 1530px;
  background-color:#BECAFF;
}

.red{
  position:absolute; top: 20px; left:-10px;
  background-color: #672229;
  height:10px;
  width: 1540px;
}
.red1 {
  position:absolute; top: 160px; left:0px;
  background-color: #672229;
  height:10px;
  width: 1540px;
}

.yellow{
  position:absolute; top: 170px; left:0px;
  background-color: #ECE31E;
  height:10px;
  width: 1540px;
}

.headercontainer h2{
  margin-top: 50px;
  text-align: center;
  font-size: 60px;
  font-family: arial;
  font-weight:bold;
  color:black;
}

.options {
 position:absolute; top: 0px; left:-10px;
 background-color: #212C62;
 margin-top: 150px;
 height: 50px;
 width: 1540px;
 color:white;
 font-family: arial;
 font-weight: bold;
}

.grades{
  position:absolute;
  top: 17px;
  left:200px;
}

.hover {
  display:block;
  text-decoration: none;
  color: white;
}

a.hover:hover{
color: #868695;
}

.financial{
  position:absolute;
  top: 17px;
  left:650px;

}

.feedback{
  position:absolute;
  top: 17px;
  right:200px;
}

.stick {
  position: sticky;
  top:0;
  z-index: 2;
}

.gradesbox {
  border-radius: 20px;
  border: 2px solid black;
  height: 490px;
  width:1495px;
  position: absolute;
  top: 0px;
  left:0px;
  background-color: #212C62;
  z-index:-4;
  position: relative;
}
.advisory{
  position: absolute;
  top: 970px;
  left: 35px;
  border-radius: 20px;
  border: 2px solid black;
  height: 440px;
  width:320px;
}

.financialbox {
  border-radius: 20px;
  border: 2px solid black;
  height: 490px;
  width:1495px;
  background-color: #212C62;
  z-index:-4;
  position: relative;
  margin-top: 20px;
}

.feedbackbox {
  border-radius: 20px;
  border: 2px solid black;
  height: 500px;
  width:1495px;
  background-color: #212C62;
  z-index:-4;
  position: absolute;
  margin-top: 50px;
}

.form {
  border: 1px solid #666666;
  border-radius: 10px;
  position:absolute;
  padding: 5px;
  font-size: 15px;
  text-align: center;
  font-family: arial;
  top: 50px;
  left:600px;
  background-color:#AEE4FF;
}

.textarea{
  background-color: #F6F6F6;
  border-radius: 10px;
  border: 3px solid black;
  position:absolute;
  top: 100px;
  left:430px;
  width:600px;
  height: 350px;
}
